<div class="diplomBody">

  <div class="col-lg-2" style="background-color:  red; height: 45%;" >
    <div class="card"style="height: 100%;">
    </div>
  </div>
  <div class="col-lg-2" style="background-color:  #fff; height: 45%">
    <div class="card"style="height: 100%;">
    </div>
  </div>
  <div class="col-lg-2" style="background-color:  red; height: 45%" >
    <div class="card"style="height: 100%;">
    </div>
  </div>
  <div class="col-lg-2" style="background-color:  #fff; height: 45%">
    <div class="card"style="height: 100%;">
    </div>
  </div>



  <div class="col-lg-2" style="background-color:  red; height: 45%;" >
    <div class="card"style="height: 100%;">
    </div>
  </div>
  <div class="col-lg-2" style="background-color:  #fff; height: 45%">
    <div class="card"style="height: 100%;">
    </div>
  </div>
  <div class="col-lg-2" style="background-color:  red; height: 45%" >
    <div class="card"style="height: 100%;">
    </div>
  </div>
  <div class="col-lg-2" style="background-color:  #fff; height: 45%">
    <div class="card"style="height: 100%;">
    </div>
  </div>
</div>
