
  <div class="card">
    <div class="card-header">
      <strong class="card-title">Устройства</strong>
      <button type="button" id="findDevice" onclick="findDevice()"
      class="btn btn-outline-info btn-sm" style="right: 5px; top:  7px;position: absolute;"><i class="fa fa-search"></i>&nbsp; Success</button>
    </div>

    <div class="card-body">
        <table class="table">
            <thead class="thead-dark">
                  <tr>
                  <th scope="col">№</th>
                  <th scope="col">Устройство</th>
                  <th scope="col">Имя</th>
                  <th scope="col">Ip адрес</th>
                  <th scope="col">Серия</th>
                  <th scope="col">Статус</th>
                  </tr>
            </thead>

            <tbody>

              {% for list in listDevice.listDevice %}


                  <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>{{ list.2.0 }}</td>
                    <td>{{ list.0 }}</td>
                    <td>
                      <a href="http://{{ list.3 }}" class="btn btn-link" style="padding: 0px">
                        <i class="fa fa-link">{{ list.3 }}</i>
                      </a>
                    </td>
                    <td>{{ list.2.1 }}</td>
                    {% if list.1 == ""%}
                        <td>
                          <button type="button" class="btn btn-success btn-sm" onclick="connect('{{list.0}}','{{list.2.0}}')"><i class="fa fa-sign-in"></i>&nbsp; Подключить</button>
                            <!-- <input class="btn btn-primary" type="submit" value="Подключить"/> -->
                        </td>

                    {%else %}
                        <td>
                          <button type="button" class="btn btn-danger btn-sm" onclick="dicsconnect('{{list.0}}','{{list.2.0}}')">Отключить &nbsp; <i class="fa fa-sign-out"></i></button>
                        </td>
                    {% endif %}
                  </tr>

              {% endfor %}
           </tbody>
      </table>
    </div>
  </div>


<script>
function connect($name,$type){
    console.log("button clicked");
    $.ajax({
        type: 'GET',
        url: "home/connect",
        data : { 'name': $name , 'type' : $type },
        success : function(result) {
            $("#tableFindDevice").html(result);
            // alert(result);
            console.log("requested access complete");
        }
    })
}

function dicsconnect($name,$type){
    console.log("button clicked");
    $.ajax({
        type: 'GET',
        url: "home/disconnect",
        data : { 'name': $name , 'type' : $type },
        success : function(result) {
            $("#tableFindDevice").html(result);
            console.log("requested access complete");
        }
    })
}

function findDevice(){
    $.ajax({
        type: 'GET',
        url: "home/findDeviceHtml",
        success : function(result) {
            $("#tableFindDevice").html(result);
        }
    })
}
</script>
