/* *, ::after, ::before {
    box-sizing: border-box;
} */

.diplomHeader {
  background: #fff;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.15);
  clear: both;
  display: inline-block;
  /* padding: 15px 20px 13px 20px; */
  width: 100%;
}
.diplomBody {
  background-color: green;
  width: 100%;
  height: 100vh;
  float: center;
}

.np {
  background-color: gray;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 50%;
  flex: 0 0 50%;
  max-width: 50%;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;

}

.diplomleftPanel {
  background-color: blue;
  width: 225px;
  height: 100vh;
  float: right;
  position:  relative;
}
.diplomRightPanel {
   background-color: red;
  width: 400px;
  height: 100vh;
  float: left;
  position:  relative;

}

.diplomTable {
  width: 100%;
  max-width: 100%;
  background-color: transparent;
  caption-side: bottom;
  text-align: center;
  border-color: grey;
}

.diplomTable  .thead-dark  th {
    color: #fff;
    background-color: #212529;
    border-color: #32383e;
}

.diplomTable th {
  border-top: 1px solid #dee2e6;
}

.diplomTable td{
  border-top: 1px solid #dee2e6;
}


/* Чекбокс стиль */
body {
  font-family: Avenir;
  font-size: 16px;
}

.label-cbx {
  user-select: none;
  cursor: pointer;
  margin-bottom: 0;
}
.label-cbx input:checked + .checkbox {
  border-color: #20C2E0;
}
.label-cbx input:checked + .checkbox svg path {
  fill: #20C2E0;
}
.label-cbx input:checked + .checkbox svg polyline {
  stroke-dashoffset: 0;
}
.label-cbx:hover .checkbox svg path {
  stroke-dashoffset: 0;
}
.label-cbx .checkbox {
  position: relative;
  top: 2px;
  float: left;
  margin-right: 8px;
  width: 20px;
  height: 20px;
  border: 2px solid #C8CCD4;
  border-radius: 3px;
}
.label-cbx .checkbox svg {
  position: absolute;
  top: -2px;
  left: -2px;
}
.label-cbx .checkbox svg path {
  fill: none;
  stroke: #20C2E0;
  stroke-width: 2;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-dasharray: 71px;
  stroke-dashoffset: 71px;
  transition: all 0.6s ease;
}
.label-cbx .checkbox svg polyline {
  fill: none;
  stroke: #FFF;
  stroke-width: 2;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-dasharray: 18px;
  stroke-dashoffset: 18px;
  transition: all 0.3s ease;
}
.label-cbx > span {
  pointer-events: none;
  vertical-align: middle;
}

.cntr {
  position: absolute;
  top: 45%;
  left: 0;
  width: 100%;
  text-align: center;
}

.invisible {
  position: absolute;
  z-index: -1;
  width: 0;
  height: 0;
  opacity: 0;
}









/* Mixings &  Variables */
.clearfix,
.clearfix:before,
.clearfix:after {
  display: block;
  content: " ";
  clear: both;
  zoom: 1;
}
/* Resets */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  background: #EDF2F6;
  font-family: Arial;
  color: #444;
}
.wrap {
  margin: 0 auto;
  padding: 50px;
  max-width: 1200px;
}
/* Bar Graph Class */
.barGraph {
  position: relative;
  width: 100%;
  height: auto;
  margin-bottom: 50px;
}
.graph {
  position: relative;
  list-style-type: none;
  padding: 0;
  margin: 0;
  width: calc(96%);
  left: 4%;
}
.graph-barBack {
  border-radius: 2px;
  background: #DAE4EB;
  margin-bottom: 10px;
  display: block;
}
.graph-bar {
  background-color: #59BAC0;
  -webkit-transition: all 1s ease-out;
  -moz-transition: all 1s ease-out;
  -o-transition: all 1s ease-out;
  transition: all 1s ease-out;
  border-radius: 2px;
  cursor: pointer;
  margin-bottom: 10px;
  position: relative;
  z-index: 9999;
  display: block;
  height: 20px;
  width: 0%;
}
.graph-bar:hover {
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  background: #428D92;
}
.graph-bar:last-child {
  margin-bottom: 0;
}
.graph-bar:after {
  position: absolute;
  content: attr(data-value);
  display: none;
  font-size: 12px;
  border-radius: 4px;
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
  line-height: 20px;
  height: 20px;
  padding: 0 10px;
  margin-left: 5px;
  left: 100%;
  top: 0;
}
.graph-bar:hover:after {
  display: block;
}
.graph-legend {
  position: absolute;
  /* margin-right: 10px; */
  z-index: 9999;
}
/* Bubble Chart */
.chart {
  border-radius: 3px;
  border: 2px solid rgba(113, 125, 149, 0.45);
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 300px;
}
.chart-bubble {
  overflow: hidden;
  background-color: #59BAC0;
  -webkit-transition: all 1s ease-out;
  -moz-transition: all 1s ease-out;
  -o-transition: all 1s ease-out;
  transition: all 1s ease-out;
  position: absolute;
  border-radius: 100%;
  cursor: pointer;
  display: block;
  min-height: 10px;
  min-width: 10px;
  z-index: 999;
  bottom: 0;
  left: 0;
}
.chart-bubble:hover {
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  background: #428D92;
}
.chart-bubble:after {
  position: absolute;
  content: attr(data-label);
  display: none;
  width: 100%;
  height: 100%;
  text-align: center;
  padding-top: 50%;
  line-height: 1px;
  font-size: 15px;
  color: #fff;
}
.chart-bubble:hover:after {
  display: block;
}
/* Lines for Charts */
.lines {
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 0;
  left: 0;
  top: 0;
}
.lines-horz {
  border-bottom: 1px dashed rgba(113, 125, 149, 0.4);
  position: absolute;
  width: 100%;
  height: 0px;
}
.lines-horz:nth-of-type(1) {
  top: 20%;
}
.lines-horz:nth-of-type(2) {
  top: 40%;
}
.lines-horz:nth-of-type(3) {
  top: 60%;
}
.lines-horz:nth-of-type(4) {
  top: 80%;
}
.lines-vert {
  border-right: 1px dashed rgba(113, 125, 149, 0.4);
  position: absolute;
  height: 100%;
  width: 1px;
}
.lines-vert:nth-of-type(5) {
  left: 20%;
}
.lines-vert:nth-of-type(6) {
  left: 40%;
}
.lines-vert:nth-of-type(7) {
  left: 60%;
}
.lines-vert:nth-of-type(8) {
  left: 80%;
}
/* Line Graph */
.lineChart {
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  border-radius: 3px;
  border: 2px solid rgba(113, 125, 149, 0.45);
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 300px;
}
.lineChart svg {
  position: absolute;
  z-index: 999;
}
.lineChart circle {
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  position: relative;
  cursor: pointer;
  stroke: #59BAC0;
  stroke-width: 3;
  fill: #59BAC0;
}
.lineChart circle:hover {
  stroke-width: 8;
}
.lineChart line {
  stroke: #717D95;
  stroke-width: 4;
}
.trend line {
  stroke: rgba(204, 51, 51, 0.8);
}
